<app-navbar></app-navbar>
<div class="content-img">
<div class="left">
    <h1 class="h1">Password Management for Individuals and Families</h1>
    <p>why use a Password manager?</p>
    <a href="/signup" target="_blank"><button class="btn">Get started today</button></a>&nbsp;&nbsp;
    <a href="">View Download Options ></a>
</div>&nbsp;&nbsp;
<div class="right">
    <img class="img1" src="assets/Screenshot 2024-03-16 084232.png" alt="">
</div>
</div>
    <h2 class="part2">Effortlessly manage all yor Passwords and logins</h2>
<div class="card-container">
    <div class="card">
        <img src="assets/clock.png" class="img2" alt="timesaver">
            <h3>Save time</h3>
            <p>Autofill forms,use biometrics, and easily generate secure passwords,
                passkeys, and usernames to help you move faster.
            </p>
    </div>
    <div class="card">
        <img src="assets/control.png" class="img2" alt="timesaver">
            <h3>Save time</h3>
            <p>Autofill forms,use biometrics, and easily generate secure passwords,
                passkeys, and usernames to help you move faster.
            </p>
    </div>
    
</div>
<div class="card-container">
    <div class="card">
        <img src="assets/safe.png" class="img2" alt="timesaver">
            <h3>Save time</h3>
            <p>Autofill forms,use biometrics, and easily generate secure passwords,
                passkeys, and usernames to help you move faster.
            </p>
    </div>
    <div class="card">
        <img src="assets/alret.png" class="img2" alt="timesaver">
            <h3>Save time</h3>
            <p>Autofill forms,use biometrics, and easily generate secure passwords,
                passkeys, and usernames to help you move faster.
            </p>
    </div>
</div>
<br><br>
<div class="signup-btn">
    <a href="/signup" target="_blank"><button class="signupBtn" >Sign up for free now</button></a>
</div>
<div class="whyusePass">
    <img src="" alt="">
</div>
