<div class="container-fluid">
    <div class="container">
        <img src="assets/logo.png" alt="logo">&nbsp;&nbsp;
        <h1><strong style="font-size: 50px;">bit</strong>Warden</h1>
    </div>
    <p class="p1">Log in create a new account to access <span style="margin-left:80px;"> your secure vault.</span></p>
    <div class="cardContainer ">
        <div >
            <label for="email" >Email address <span class="req">(required)</span></label>
            <br>
            <input type="email" class="Email">
            <br><br>
            <input type="checkbox"> Remember email
            <br><br>
            <button class="btn btn-primary btn">Continue</button>
            <p class="or">or</p>
            <div class="passkey">
                <span><i class="fa-solid fa-key">&nbsp;&nbsp;</i></span><a href="" class="passkey">Log in with passkey</a>
            </div>
        </div>
       <hr>
       <p style="font-size: 13px;">New around here? <span><a href="/createaccount" class="createacc">Create account</a></span></p>
    </div>
    <br>
<div class="footer">
  Server:
        <select name="" id="" class="dd">
            <option value="" selected>bitwarden.com</option>
            <option value="">bitwarden.au</option>
        </select>
        <div class="version">
            <span><i class="fa fa-copyright"></i>2024 Bitwarden Inc.</span>
            <p class="v">Version 2024.2.5</p>
        </div>
    </div>
</div>
